<% include _header %>

    <div class="container">
        
        <div class="container chat-box">
            
        </div>
        
        <div class="message-box">
            <div class="input-group" style="margin-bottom: 1%;">
              <span class="input-group-addon" id="basic-addon1">Username</span>
        <input type="text" class="form-control" placeholder="Darth Vader" aria-describedby="basic-addon1" id="username">
            </div>
      
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Message</span>
             <input type="text" class="form-control" placeholder="0..200 symbols" aria-describedby="basic-addon1" id="message">
            </div>
            <button type="button" class="btn btn-primary" id="sendButton">Send</button>
        </div>
        
    </div>



    <script src="/js/index.js"></script>
<% include _footer %>